<h1>Listing journals</h1>

<table>
  <tr>
    <th>Originator</th>
    <th>Status</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @journals.each do |journal| %>
  <tr>
    <th><%= journal.originator %></th>
    <th><%= journal.status %></th>
    <th><%= journal.created_at %></th>
    <td><%= link_to 'Show', journal %></td>
    <td><%= link_to 'Edit', edit_journal_path(journal) %></td>
    <td><%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Journal', new_journal_path %>
