<table class="flow <%= h(flow_css_classes(flow)) %>">
  <% if flow.is_a? Dynflow::Flows::Atom %>
    <tr>
      <td class="<%= h(flow_css_classes(flow)) %>">
         <span class="step-label">
           <%= h(flow.step_id) %>: <%= h(step(flow.step_id).action_class.name) %>
         </span>
         <%= erb :action, locals: { action: load_action(step(flow.step_id)) } %>
      </td>
    </tr>
  <% else %>
    <% flow.sub_flows.each do |sub_flow| %>
      <tr>
        <td class="flow <%= h(flow_css_classes(flow, sub_flow)) %>">
          <%= erb :flow, locals: { flow: sub_flow } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>


