<h1>Listing execution plans</h1>

<form action="<%= url %>" method="GET" class="<%= @export ? 'hidden' : '' %>">
  <%= filter_checkbox(:state, Dynflow::ExecutionPlan.states.map(&:to_s)) if supported_filter?(:state) %>
  <input type="submit" value="Filter"/>
</form>

<table class="table">
  <thead>
    <tr>
      <th><%= order_link(:id, "Id") %></th>
      <th><%= order_link(:action, "Action") %></th>
      <th><%= order_link(:state, "State") %></th>
      <th><%= order_link(:result, "Result") %></th>
      <th><%= order_link(:started_at, "Started at") %></th>
      <th><% unless @export %><a class="button" href="<%= h(url("/export")) %>">Export</a><% end %></th>
    </tr>
  </thead>

  <% unless @rows.nil? || @rows.empty? %>
    <%= @rows.join %>
  <% else %>
    <% @plans.each do |plan| %>
      <%= erb :index_row, :locals => { :plan => plan } %>
    <% end %>
  <% end %>
<% end %>
</table>
<% if !@export && paginate? %>
  <ul class="pagination">
    <li><a href="<%= paginated_url(-1) %>">&laquo; Prev</a></li>
    <li><a href="<%= paginated_url(+1) %>">Next &raquo;</a></li>
  </ul>
<% end %>
