<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= url '/images/logo-square.png' %>" type="image/x-icon">

    <title>Dynflow Console</title>

    <link rel="stylesheet" type="text/css" href="<%= url '/vendor/bootstrap/css/bootstrap.css' %>">
    <link rel="stylesheet" type="text/css" href="<%= url '/stylesheets/application.css' %>">

    <script src="<%= url '/vendor/jquery/jquery.js' %>"></script>
    <script src="<%= url '/vendor/bootstrap/js/bootstrap.js' %>"></script>
    <script src="<%= url '/vendor/google-code-prettify/run_prettify.js' %>"></script>
    <script src="<%= url '/javascripts/application.js' %>"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= url '/' %>">
              <img src="<%= url '/images/logo-square.png' %>"/>
              Dynflow
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="<%= url '/' %>">Execution plans</a></li>
              <li><a href="<%= url '/status' %>">Status</a></li>
              <% if settings.respond_to?(:custom_navigation) && settings.custom_navigation %>
                <% settings.custom_navigation.each do |description, uri| %>
                  <li><a href="<%= uri %>"><%= description %></a></li>
                <% end %>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>

<div class="container">

  <div class="row">
    <% if params[:notice] %>
    <div id="notice" class="alert alert-warning"><%= h(params[:notice]) %></div>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
