<html>
  <head>
    <title>Dynflow Console</title>

    <script src="<%= url '/vendor/jquery/jquery.js' %>"></script>

    <link rel="stylesheet" type="text/css" href="<%= url '/vendor/bootstrap/css/bootstrap.css' %>">
    <link rel="stylesheet" type="text/css" href="<%= url '/stylesheets/application.css' %>">

    <script src="<%= url '/vendor/google-code-prettify/run_prettify.js' %>"></script>

    <script src="<%= url '/javascripts/application.js' %>"></script>
    <script src="<%= url '/vendor/jquery/jquery.js' %>"></script>
    <script src="<%= url '/vendor/bootstrap/js/bootstrap.js' %>"></script>

  </head>

  <body>
    <% if params[:notice] %>
    <div id="notice" class="alert alert-warning"><%= h(params[:notice]) %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
