<h1>List of worlds</h1>

<ul>
  <li><a href="<%= url("/worlds/check") %>" class="postlink">check status</a>: see potentially invalid worlds</li>
  <li><a href="<%= url("/worlds/check?invalidate=true") %>" class="postlink">check and invalidate</a>: invalidate the worlds that don't respond</li>
  <li><a href="<%= url("/worlds/execution_items") %>" class="postlink">load execution items counts</a>: see counts of execution items per world</li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Meta</th>
      <th>Executor?</th>
      <th>Execution items</th>
      <th>Free/Total workers</th>
      <th></th>
    </tr>
  </thead>

<% @worlds.each do |world| %>
  <tr>
    <td><%= h(world.id) %></td>
    <td><%= h(world.meta) %></td>
    <td><%= "true" if world.is_a? Dynflow::Coordinator::ExecutorWorld %></td>
    <td><%= h(world.data['execution_items'] || 'N/A') %></td>
    <td><%= world.data.key?('free_workers') ? "#{world.data['free_workers']}/#{world.data[:pool_size]}" : 'N/A' %></td>
    <td>
      <% validation_result = @validation_results[world.id] if @validation_results %>

      <% unless validation_result == :invalidated %>
        <a href="<%= url("/worlds/#{world.id}/check") %>" class="postlink">check</a>
      <% end %>

      <% if validation_result %>
        <% if validation_result == :invalid %>
          <a href="<%= url("/worlds/#{world.id}/check?invalidate=true") %>" class="postlink">invalidate</a>
        <% end %>

        <span class="label label-<%= validation_result_css_class(validation_result) %>">
          <%= h(validation_result) %>
        </span>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
