<h1>List of worlds</h1>

<ul>
  <li><a href="<%= url("/worlds/check") %>" class="postlink">check status</a>: see potentially invalid worlds</li>
  <li><a href="<%= url("/worlds/check?invalidate=true") %>" class="postlink">check and invalidate</a>: invalidate the worlds that don't respond</li>
  <li><a href="<%= url("/worlds/execution_status") %>" class="postlink">load execution items counts</a>: see counts of execution items per world</li>
</ul>

<h3>Executors</h3>
<% @executors.each do |world| %>
  <%= value_field('Id', world.id) %>
  <%= value_field('Metadata', world.meta) %>
  <p>
    <b>Status:</b>
    <%= erb :world_validation_result, locals: { world: world } %>
  </p>
  <% if world.data[:status] %>
    <table class="table">
      <thead>
        <tr>
          <th>Queue name</th>
          <th>Queue size</th>
          <th>Free/Total workers</th>
        </tr>
      </thead>
    <% world.data[:status].each do |queue_name, info| %>
      <tr>
        <td><%= h(queue_name) %></td>
        <td><%= h(info[:queue_size]) %></td>
        <td><%= h(info[:free_workers]) %>/<%= h(info[:pool_size]) %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
<% end %>
<h3>Clients</h3>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Meta</th>
      <th></th>
    </tr>
  </thead>
<% @clients.each do |world| %>
  <tr>
    <td><%= h(world.id) %></td>
    <td><%= h(world.meta) %></td>
    <td>
      <%= erb :world_validation_result, locals: { world: world } %>
    </td>
  </tr>
<% end %>
</table>
